{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">🐍Junior Python Dev & Certified Data Analyst | Enthusiast in problem-solving and automation. Transforming tasks into opportunities for innovation! 🚀</p>
        <a href="https://github.com/elrf3lipes"
           class="btn btn-danger">Check my portfolio!</a>
    </div>
</div>
</div>

{% endblock sidebar %}